
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-12">
      <% cache @product do %>
          <h1 class="title"><%= @product.name %></h1>
      
  
        <div>
         <%= image_tag("spot.jpg", width: "350", class: "img-zoom") %>
        </div>
 
 
      <div class="col-md-6 col-xs-12">
        
        <h3>Description</h3>
        <p class="description"><%= @product.description %></p>
  
        <h3>Price</h3>
        <p class="price"><%= @product.price %></p>

        <h3>Color</h3>
        <p class="color"><%= @product.color %></p>
          <% end %>
        <p>Average Rating:
        
        <div class="rated" data-score="<%= @product.average_rating %>" id="average_rating"></div>
       </p>
      </div>

        <%= form_tag "/payments/create" do %>
          <script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:pk_test_jorlSdkOLXxfzlYUu6ITiNil] %>"
  data-amount="<%= (@product.price).to_i %>"
  data-name="<%= @product.name %>"
  data-description="<%= @product.description %>"
  #data-image="<%= @product.image_url %>">
  </script>
    <%= hidden_field_tag(:product_id, @product.id) %>
  <% end %>
     
      

        <%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to "Delete Product", product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
       
      
      

<div class="col-md-6 col-md-offset-3">
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
  <%= render 'comments' %>
</div>
<div class="col-md-6 col-md-offset-3">
<%= render 'new_comment' %>
<div class="col-md-6 col-md-offset-3">
 <%= will_paginate @comments %>




      
    </div>
  </div>
  








